
.footer {
    background-color: rgb(81, 15, 143);
    display: grid;
    place-items: center;
    padding: 2rem 1rem;
    text-align: justify;
}
.footer div {
    padding-bottom: 1rem;
}
.footer i {
    color: white;
    padding: 0.2rem 0.5rem;
    font-size: x-large;
}

.footer i:hover {
    color: rgb(195, 0, 255);
}

.copyright {
color: white;
}