.container {
  /* padding: 1%; */
  /* background-color: rgb(98, 112, 17); */
  height: 100vh;
}





/* Jumbotron content */
.main {
  margin: auto;
}
.main .jumbo {
  /* background-image: url("https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cHVycGxlJTIwcHJvZ3JhbW1pbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=1300&q=100");
  background-size: cover;
  background-position: center; */
  background-image: linear-gradient(rgb(195, 0, 255), rgb(68, 0, 255));
  height: fit-content;
  width: 100%;
  display: inline-block;
}
.main .jumbo > section {
  margin: 1%;
}

.jumbo_text {
  color: white;
}

.jumbo_text h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 4% 1% 3%;
  text-align: center;
}
.jumbo_text h2 {
  margin: 4% 1% 3%;
  text-align: center;
}

.jumbo_text h3 {
  font-size: large;
  text-align: center;
}

.more_about_me_container {
  display: grid;
  place-items: center;
}

.more_about_me_container button {
  /* background-color: rgb(255, 189, 47); */
  background-image: linear-gradient(to bottom right, rgb(255, 122, 34) , rgb(255, 230, 0));
  margin: 1rem;
  padding: 1rem;
  font-size: larger;
  border-radius: 25px;
  border-style: none;
  
}

/* *Profile */
.profile {
  padding: 1.5rem;
  background-color: whitesmoke;
}
.profile > h2 {
  border-bottom: rgb(195, 0, 255) solid 6px;
  width: fit-content;
  font-size: xx-large;
}

.profile_picture_container {
  display: grid;
  place-items: center;
  
}
.profile_picture {
  border-radius: 50%;
}

.profile dl {
  font-size: 1em;
}

.profile dl dt {
  margin: 0.5rem;
  opacity: 0.8;
  border-bottom: rgb(195, 0, 255) dashed 1.5px;
  width: fit-content;
}

.profile dl dd {
  padding: 0.5rem ;
}

.profile dl dd a {
  color: blue;
}
